/*sm*/
@media screen and (max-width: 575px) {
    html
    {
        font-size: 14px;
    }   

    .navigation .navbar
    {
        background-color: gray !important;
    }
    .pricing .col-md-3{
        margin-bottom: 4px;
    }
}
@media screen and (min-width: 576px) {
    
  }

/*md*/
@media screen and (min-width: 768px) { 
    .navigation.navbar{
        padding : 1rem 3rem !important;
    }
 }

/*lg*/
@media screen and (min-width: 992px) {  }

/*xl*/
@media screen and (min-width: 1200px) {  }